@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

// Set your brand colors
$purple: #7a39f2;
$darknavy: #0c0824;
$dark: #6a696d;
$light: #29e8ef;
$blue: #29e8ef;
$white:#fefefe;
$lightgrey: #f1f1f1;
$yellow: #e1c033;
// $pink: #fa7c91;
// $brown: #757763;
// $beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Poppins', sans-serif;
$grey-dark: $dark;
$grey-light: $light;
$primary: $purple;
$link: $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $lightgrey;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
